body {
    background-color: black;
}
div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url(board.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    background-position-x: 3px;
    
}

.row {
    display: flex;
    gap: 1px;
}

#spacer{ 
    height: 95px;
    width: 94px;
}

.cell, .miss, .hit {
    width: 93px;
    height: 94px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}

div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

.hit {
    background: url("ship.png") no-repeat center center;
}

.miss {
    background: url("miss.png") no-repeat center center;
}

form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 125);
}
form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}